@model MotelManagement.ViewModels.InvoiceViewModel

@{
    ViewBag.Title = "CollectPowerInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Hóa đơn điện, nước</h3>
<hr />
<div class="row">
    <div class="col">

    </div>

    <div class="col-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-row mt-3">
                <h5 class="col">@Model.RoomName</h5>
            </div>

            <div>
                @Html.EditorFor(model => model.RoomID,
                new { htmlAttributes = new { @hidden="hidden" } } )
                @Html.EditorFor(model => model.RoomName,
                     new { htmlAttributes = new { @hidden="hidden" } } )
            </div>
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.FromDate,
                  htmlAttributes: new { @class = "font-weight-bold col" })
                <p class="col">
                    <span id="from-date-text">
                        @Model.FromDate.ToString("dd-MM-yyyy")
                    </span>
                    @Html.EditorFor(model => model.FromDate,
                   new { htmlAttributes = new { @id = "from-date", @hidden="hidden" } } )
                </p>

                @Html.LabelFor(model => model.ToDate,
               htmlAttributes: new { @class = "font-weight-bold col" })

                <p class="col">
                    <span id="to-date-text">
                        @Model.ToDate.ToString("dd-MM-yyyy")
                    </span>
                    @Html.EditorFor(model => model.ToDate,
                   new { htmlAttributes = new { @id = "to-date", @hidden = "hidden" } } )
                </p>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.CollectionDate,
               htmlAttributes: new { @class = "font-weight-bold col-3 mt-1" })
                @Html.EditorFor(model => model.CollectionDate,
                   new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-row mt-3">
                <h5 class="col font-weight-bold">Thông tin điện</h5>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.ElectricOldIndicator,
                  htmlAttributes: new { @class = "font-weight-bold col" })
                <p class="col">
                    <span id="old-el-text">
                        @Model.ElectricOldIndicator
                    </span>
                    @Html.EditorFor(model => model.ElectricOldIndicator,
                       new { htmlAttributes = new { @id = "old-el", @hidden = "hidden" } } )
                </p>

                @Html.LabelFor(model => model.ElectricNewIndicator,
               htmlAttributes: new { @class = "font-weight-bold col" })

                <p class="col">
                    <span id="new-el-text">
                        @Model.ElectricNewIndicator
                    </span>
                    @Html.EditorFor(model => model.ElectricNewIndicator,
                   new { htmlAttributes = new { @id = "new-el", @hidden = "hidden" } } )
                </p>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.SumElectricUsage,
               htmlAttributes: new { @class = "font-weight-bold col-6" })
                <div class="col">
                    <p>
                        <span id="sum-el-text">
                            @Model.SumElectricUsage
                        </span> Kwh
                    </p>
                    @Html.EditorFor(model => model.SumElectricUsage,
                   new { htmlAttributes = new { @id = "sum-el-usage", @hidden = "hidden" } } )
                </div>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.ElectricMoney,
            htmlAttributes: new { @class = "font-weight-bold col-6 text-danger" })
                <div class="col">
                    <p class="text-danger">
                        <span id="el-money-text">
                            @Model.ElectricMoney
                        </span> VND
                    </p>
                    @Html.EditorFor(model => model.ElectricMoney,
                   new { htmlAttributes = new { @id = "el-money", @hidden = "hidden", @class="text-danger" } } )
                </div>
            </div>

            <div class="form-row mt-3">
                <h5 class="col font-weight-bold">Thông tin nước</h5>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.WaterOldIndicator, htmlAttributes:
            new { @class = "font-weight-bold col" })
                <p class="col">
                    <span id="old-water-text">
                        @Model.WaterOldIndicator
                    </span>
                    @Html.EditorFor(model => model.WaterOldIndicator,
                   new { htmlAttributes = new { @id = "old-water", @hidden = "hidden" } } )
                </p>

                @Html.LabelFor(model => model.WaterNewIndicator, htmlAttributes:
           new { @class = "font-weight-bold col" })
                <p class="col">
                    <span id="new-water-text">
                        @Model.WaterNewIndicator
                    </span>
                    @Html.EditorFor(model => model.WaterNewIndicator,
                   new { htmlAttributes = new { @id = "new-water", @hidden = "hidden" } } )
                </p>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.SumWaterUsage,
            htmlAttributes: new { @class = "font-weight-bold col-6" })
                <div class="col">
                    <p>
                        <span id="sum-water-text">
                            @Model.SumWaterUsage
                        </span> m<sup>3</sup>
                    </p>
                    @Html.EditorFor(model => model.SumWaterUsage,
                   new { htmlAttributes = new { @id = "sum-water-usage", @hidden = "hidden" } } )
                </div>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.WaterMoney,
            htmlAttributes: new { @class = "font-weight-bold col-6 text-danger" })
                <div class="col">
                    <p class="text-danger">
                        <span id="water-money-text">
                            @Model.WaterMoney
                        </span> VND
                    </p>
                    @Html.EditorFor(model => model.WaterMoney,
                   new { htmlAttributes = new { @id = "water-money", @hidden = "hidden" } } )
                </div>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.Debt,
               htmlAttributes: new { @class = "font-weight-bold col-3" })
                <div class="col">
                    <p class="text-danger">
                        <span id="debt-text">
                            @Model.Debt
                        </span> VND
                    </p>
                    @Html.EditorFor(model => model.Debt,
                   new { htmlAttributes = new { @class = "form-control",
                       @id = "debt", @hidden="hidden" } })
                </div>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.Proceeds,
               htmlAttributes: new { @class = "font-weight-bold mt-1 col-3" })
                @Html.EditorFor(model => model.Proceeds,
               new { htmlAttributes = new { @class = "form-control col", @id = "proceeds" } })
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.ExcessCash,
               htmlAttributes: new { @class = "font-weight-bold col-3" })
                <div class="col">
                    <p class="text-success">
                        <span id="excess-cash-text">
                            @Model.ExcessCash
                        </span> VND
                    </p>
                    @Html.EditorFor(model => model.ExcessCash,
                   new { htmlAttributes = new { @class = "form-control",
                       @id = "excess-cash", @hidden="hidden" } })
                </div>
            </div>

            <div class="form-row mt-4 justify-content-center">
                <input type="submit" class="btn btn-primary" value="Xuất hóa đơn" />
            </div>

        }
    </div>

    <div class="col">

    </div>
</div>



@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("document").ready(function () {

            $("#proceeds").keyup(function (e) {
                var value = $(e.target).val();

                value = value.replace(/[A-Za-z]|[!#$%^&*(),.?":{}|<>]/g, "");
                if (value == "") value = "0";

                var money = parseInt(value);
                var debt = parseInt(@Model.Debt.Replace(",", ""));

                debt = debt - money;

                $("#proceeds").val(money.toLocaleString("en-US"));
                $("#debt").val(debt < 0 ? "0" : debt.toLocaleString("en-US"));
                $("#debt-text").text(debt < 0 ? "0" : debt.toLocaleString("en-US"));
                $("#excess-cash").val(debt < 0 ? (-debt).toLocaleString("en-US") : "0");
                $("#excess-cash-text").text(debt < 0 ? (-debt).toLocaleString("en-US") : "0");
            });

            setTimeout(function () {
                $(".close").click();
            }, 10000);
        });


    </script>
}
