@model MotelManagement.ViewModels.PowerInfoViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Success"]
    </div>
}
else if (TempData["Fail"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Fail!</strong> @TempData["Fail"]
    </div>
}

<h2 class="text-center">Cập nhật thông tin điện nước</h2>
<hr />
<div class="row mt-5">
    <div class="col-5 p2">
        <h6 class="text-center"><strong>Danh sách phòng</strong></h6>
        <table id="table" class="table table-striped table-hover" onclick="onItemClick(event)">
            <tr>
                <th class="thead-light">Phòng</th>
                <th class="thead-light">Ngày</th>
                <th class="thead-light">Chỉ số điện</th>
                <th class="thead-light">Chỉ số nước</th>
            </tr>
            @foreach (var room in Model.Rooms)
            {
                var info = room.Infos.Where(i => i.Date.Month == (DateTime.Now.Month - 1)).SingleOrDefault();

                <tr>
                    <td hidden="hidden">@room.ID</td>
                    <td><label>@room.Name</label></td>
                    <td><label>@info.Date.ToShortDateString()</label></td>
                    <td><label>@info.ElectricIndicator</label></td>
                    <td><label>@info.WaterIndicator</label></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-5 p2">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h6 class="text-center mb-0"><strong>Thông tin điện nước</strong></h6>
            <p class="text-center mb-0"><strong id="roomName"></strong></p>
            <div class="text-center mb-0">
                <strong>
                    @Html.LabelFor(model => model.Date)
                </strong> <strong id="date-text"></strong>
            </div>
            @Html.EditorFor(model => model.Date,
                   new { htmlAttributes = new { @id = "date", @class = "form-control", @type = "date", @hidden="hidden" } })

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.ElectricIndicator, htmlAttributes: new { @class = "control-label col-3 mt-1" })
                <div class="col">
                    @Html.EditorFor(model => model.ElectricIndicator, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ElectricIndicator, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden="hidden">
                @Html.LabelFor(model => model.RoomID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RoomID, new { htmlAttributes = new { @id = "roomId", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RoomID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row mt-2">
                @Html.LabelFor(model => model.WaterIndicator, htmlAttributes: new { @class = "control-label col-3 mt-1" })
                <div class="col">
                    @Html.EditorFor(model => model.WaterIndicator, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WaterIndicator, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row mt-4 justify-content-center">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>

        }
    </div>

    <div class="col">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function onItemClick(event) {
            var table = document.getElementById("table");
            var cell = event.target;
            var rowIndex = cell.parentNode.rowIndex;
            if (rowIndex > 0) {
                document.getElementById("roomId").value = table.rows[rowIndex].cells[0].innerText;
                document.getElementById("roomName").innerText = table.rows[rowIndex].cells[1].innerText;

                var date = new Date(table.rows[rowIndex].cells[2].innerText);
                date.setMonth(date.getMonth() + 1);

                document.getElementById("date").value = date.toLocaleDateString();
                document.getElementById("date-text").innerText = date.toLocaleDateString();
            }
        }

        $("document").ready(function () {
            
            setTimeout(function () {
                    $(".close").click();
            }, 10000);
        });
    </script>
}
