@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/css")
@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
        new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            @*<ul class="nav navbar-nav ml-auto">
                    <li>
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null,
                       htmlAttributes: new { title = "Manage", @class= "nav-link font-weight-bold text-white" })
                    </li>

                    @if (HttpContext.Current.User.IsInRole("Owner"))
                    {
                        <li>
                            @Html.ActionLink("Register", "Register", "Account", routeValues: null,
                         htmlAttributes: new { id = "registerLink", @class = "nav-link font-weight-bold text-white" })
                        </li>
                    }
                    <li><a class="nav-link text-white font-weight-bold" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>*@
            <a class="nav-link" data-toggle="dropdown" href="#">
                @*<img src="./Images/account_circle.svg" class="rounded" alt="account">*@
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"
                          fill="#FFFFFF" />
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <div class="admin-container">
                    <div class="avatar">
                        <!-- <img src="imgs/account_circle.svg" class="rounded" alt="avatar"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"
                                  fill="#00000" />
                        </svg>
                    </div>

                    <div class="user-info">
                        <h6>@User.Identity.GetUserName()</h6>
                        <p>@User.Identity.Name@@gmail.com</p>
                        @Html.ActionLink("Manage your account", "Index", "Manage", routeValues: null,
                       htmlAttributes: new { title = "Manage"})
                    </div>
                </div>

                <div class="dropdown-divider"></div>

                @if (HttpContext.Current.User.IsInRole("Owner"))
                {
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null,
                         htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })
                }
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        }
    </li>
}
@*else
    {
        <ul class="nav navbar-nav ml-auto">
            <li>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
           htmlAttributes: new { id = "loginLink", @class = "nav-link font-weight-bold text-white" })
            </li>
        </ul>
    }*@
