@model IEnumerable<MotelManagement.ViewModels.PowerDebt>
@using MotelManagement.DAL
@{

    ViewBag.Title = "PowerDebtInfos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        .border {
            height: max-content;
            border: 4px #1C6EA4 groove !important;
            border-radius: 25px 25px 0px 25px;
            margin-bottom: 50px;
        }

        .bordershadow {
            -webkit-box-shadow: 5px 8px 10px -8px rgba(0,0,0,0.65);
            box-shadow: 5px 8px 10px -8px rgba(0,0,0,0.65);
        }

        .list_text {
            margin-left: 15px;
            padding: 5px;
            text-align: left;
        }

        .list_group {
            margin: 10px 0px;
        }

        .summary {
            color: red;
            font-size: 20px;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <form action="" class="container text-center">
        <h2 class="header" style="margin:20px 0">Thống kê nợ điện nước</h2>
        <h2 class="header" style="margin:20px 0">@ViewBag.RoomName</h2>
        <main>
            <div>

                @foreach (var item in Model)
                {
                    ApplicationDbContext db_Context = new ApplicationDbContext();
                    long oldElectricIndicator, oldWaterIndicator;
                    DateTime before = item.Date.AddMonths(-1);
                    var old = db_Context.Infos.Where(i => i.Date.Month == before.Month && i.Date.Year == before.Year && i.RoomID == item.ID)
                 .SingleOrDefault();

                    if (old != null)
                    {
                        oldElectricIndicator = item.ElectricIndicator - old.ElectricIndicator;
                        oldWaterIndicator = item.WaterIndicator - old.WaterIndicator;
                    }
                    else
                    {
                        oldElectricIndicator = item.ElectricIndicator;
                        oldWaterIndicator = item.WaterIndicator;
                    }
                    long elecsummary = oldElectricIndicator * (long)item.ElectricPara;
                    long watersummary = oldWaterIndicator * (long)item.WaterPara;
                    if (old != null)
                    {
                        <div class=" border bordershadow">
                            <div class="list_text" style="font-weight: 700;font-size: 22px;">@item.Content</div>

                            <div class="list_group">
                                <div class="list_text" style="font-weight: 500;font-size: 20px;">Tổng số điện tiêu thụ: @item.ElectricIndicator (@item.Date.ToString("MM/dd/yyyy"))- @old.ElectricIndicator (@before.ToString("MM/dd/yyyy")) = @string.Format("{0:#,###.## Kw/h}", oldElectricIndicator) </div>
                                <div class="list_text" style="font-weight: 500;font-size: 20px;"> Thành Tiền: @string.Format("{0:#,###.## VND}", elecsummary)</div>
                            </div>
                            <div>
                                <div class="list_text" style="font-weight: 500;font-size: 20px;">Tổng số nước tiêu thụ: @item.WaterIndicator (@item.Date.ToString("MM/dd/yyyy")) -@old.WaterIndicator (@before.ToString("MM/dd/yyyy"))= @string.Format("{0:#,###.## m3}", oldWaterIndicator)</div>
                                <div class="list_text" style="font-weight: 500;font-size: 20px;"> Thành Tiền: @string.Format("{0:#,###.## VND}", watersummary)</div>
                            </div>

                            <div class="summary">Tổng tiền: @string.Format("{0:#,###.## VND}", item.Debt)</div>
                        </div>
                    }
                    else
                    {
                        <div class=" border bordershadow">
                            <div class="list_text" style="font-weight: 700;font-size: 22px;">@item.Content</div>

                            <div class="list_group">
                                <div class="list_text" style="font-weight: 500;font-size: 20px;">Tổng số điện tiêu thụ: @item.ElectricIndicator (@item.Date.ToString("MM/dd/yyyy"))- 0 (@before.ToString("MM/dd/yyyy")) = @oldElectricIndicator Kwh</div>
                                <div class="list_text" style="font-weight: 500;font-size: 20px;"> Thành Tiền:@string.Format("{0:#,###.## VND}", elecsummary)</div>
                            </div>
                            <div>
                                <div class="list_text" style="font-weight: 500;font-size: 20px;">Tổng số nước tiêu thụ: @item.WaterIndicator (@item.Date.ToString("MM/dd/yyyy")) - 0 (@before.ToString("MM/dd/yyyy"))= @oldWaterIndicator  m3</div>
                                <div class="list_text" style="font-weight: 500;font-size: 20px;"> Thành Tiền:@string.Format("{0:#,###.## VND}", watersummary)</div>
                            </div>

                            <div class="summary">Tổng tiền: @string.Format("{0:#,###.## VND}", item.Debt)</div>
                        </div>
                    }
                }

            </div>
        </main>
        <div></div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/datatables-demo.js"></script>
</body>
</html>

