@model MotelManagement.ViewModels.DebtViewModels
@using MotelManagement.DAL
@{
    ViewBag.Title = "ReportDebt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        .card {
            height: 170px;
        }
    </style>
</head>
<body>
    <form class="container text-center">
        <h2 class="header" style="margin:20px 0">Thống kê nợ </h2>
        <div>
            <h4 style="text-align: left;">
                Nợ tiền điện nước:
            </h4>
            <div class="card-columns">
                @foreach (var item in Model.allPowerDebts)
                {
                    ApplicationDbContext dbContext = new ApplicationDbContext();
                    var list = dbContext.Invoices.Where(i => i.Debt > 0 && i.RoomID == item.ID && i.Content.Contains("điện nước")).Take(3).ToList();
                    if (item.CountDebt >= 3)
                    {

                        <div class="card shadow-sm border-danger card-pointer">
                            <div class="card-body">
                                <h4 class="card-title text-danger text-center">@item.Name</h4>

                                @foreach (var itemlist in list)
                                {
                                    <div class="row">
                                        <div class="col">Tháng @itemlist.CollectionDate.Month</div>
                                        <div class="col">@string.Format("{0:#,###.## VND}", itemlist.Debt)</div>
                                    </div>

                                }
                                <div style="text-align:right">
                                    @Html.ActionLink("Detail", "PowerDebtInfos", "Report", new { id = item.ID }, new { @class = "card-link" })
                                </div>

                            </div>
                        </div>

                    }
                    else if (item.CountDebt == 2)
                    {
                        <div class="card shadow-sm border-warning card-pointer">
                            <div class="card-body">
                                <h4 class="card-title text-warning text-center">@item.Name</h4>

                                @foreach (var itemlist in list)
                                {
                                    <div class="row">
                                        <div class="col">Tháng @itemlist.CollectionDate.Month</div>
                                        <div class="col">@string.Format("{0:#,###.## VND}", itemlist.Debt)</div>
                                    </div>
                                }
                                <div style="text-align:right">
                                    @Html.ActionLink("Detail", "PowerDebtInfos", "Report", new { id = item.ID }, new { @class = "card-link" })
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.CountDebt == 1)
                    {
                        <div class="card shadow-sm border-success card-pointer">

                            <div class="card-body">
                                <h4 class="card-title text-success text-center">@item.Name</h4>

                                @foreach (var itemlist in list)
                                {
                                    <div class="row">
                                        <div class="col">Tháng @itemlist.CollectionDate.Month</div>
                                        <div class="col">@string.Format("{0:#,###.## VND}", itemlist.Debt)</div>
                                    </div>
                                }
                                <div style="text-align:right">
                                    @Html.ActionLink("Detail", "PowerDebtInfos", "Report", new { id = item.ID }, new { @class = "card-link" })
                                </div>
                            </div>
                        </div>
                    }


                }
            </div>
        </div>
        <div>
            <h4 style="text-align: left;">
                Nợ tiền phòng:
            </h4>
            <div class="card-columns">
                @foreach (var item in Model.allRoomDebts)
                {
                    ApplicationDbContext dbContext = new ApplicationDbContext();
                    var list = dbContext.Invoices.Where(i => i.Debt > 0 && i.RoomID == item.ID && i.Content.Contains("phòng")).Take(3).ToList();

                    if (item.CountDebt >= 3)
                    {

                        <div class="card shadow-sm border-danger card-pointer">
                            <div class="card-body">
                                <h4 class="card-title text-danger text-center">@item.Name</h4>

                                @foreach (var itemlist in list)
                                {
                                    <div class="row">
                                        <div class="col">Tháng @itemlist.CollectionDate.Month</div>
                                        <div class="col">@string.Format("{0:#,###.## VND}", itemlist.Debt)</div>
                                    </div>
                                }
                                <div style="text-align:right">
                                    @Html.ActionLink("Detail", "RoomDebtInfos", "Report", new { id = item.ID }, new { @class = "card-link" })
                                </div>
                            </div>
                        </div>

                    }
                    else if (item.CountDebt == 2)
                    {
                        <div class="card shadow-sm border-warning card-pointer">
                            <div class="card-body">
                                <h4 class="card-title text-warning text-center">@item.Name</h4>

                                @foreach (var itemlist in list)
                                {
                                    <div class="row">
                                        <div class="col">Tháng @itemlist.CollectionDate.Month</div>
                                        <div class="col">@string.Format("{0:#,###.## VND}", itemlist.Debt)</div>
                                    </div>
                                }
                                <div style="text-align:right">
                                    @Html.ActionLink("Detail", "RoomDebtInfos", "Report", new { id = item.ID }, new { @class = "card-link" })
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.CountDebt == 1)
                    {
                        <div class="card shadow-sm border-success card-pointer">

                            <div class="card-body">
                                <h4 class="card-title text-success text-center">@item.Name</h4>

                                @foreach (var itemlist in list)
                                {
                                    <div class="row">
                                        <div class="col">Tháng @itemlist.CollectionDate.Month</div>
                                        <div class="col">@string.Format("{0:#,###.## VND}", itemlist.Debt)</div>
                                    </div>
                                }
                                <div style="text-align:right">
                                    @Html.ActionLink("Detail", "RoomDebtInfos", "Report", new { id = item.ID }, new { @class = "card-link" })
                                </div>
                            </div>
                        </div>
                    }


                }
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/datatables-demo.js"></script>
</body>
</html>

