@model IEnumerable<MotelManagement.Models.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card-columns">

    @foreach (var item in Model)
    {

        int guestInRoom = item.Guests.Count();
        int maxGuest = item.RoomType.NumberOfGuest;

        if (guestInRoom == 0)
        {
            <div class="card shadow-sm border-success card-pointer">

                <div class="card-body">
                    <h4 class="card-title text-success text-center">@item.Name</h4>
                    <p class="card-text">Số lượng người: @guestInRoom/@maxGuest</p>
                    @Html.ActionLink("Thêm người", "Create", "Guest", new { area = "" }, new { @class = "card-link" })
                    @Html.ActionLink("Detail", "Detail", "Room", new { area = "" }, new { @class = "card-link" })
                </div>
            </div>
        }
        else if (guestInRoom > 0 && guestInRoom < maxGuest)
        {
            <div class="card shadow-sm border-warning card-pointer">

                <div class="card-body">
                    <h4 class="card-title text-warning text-center">@item.Name</h4>
                    <p class="card-text">Số lượng người: @guestInRoom/@maxGuest</p>
                    @Html.ActionLink("Thêm người", "Create", "Guest", new { area = "" }, new { @class = "card-link" })
                    @Html.ActionLink("Detail", "Detail", "Room", new { area = "" }, new { @class = "card-link" })
                </div>
            </div>
        }
        else
        {
            <div class="card shadow-sm border-danger card-pointer">

                <div class="card-body">
                    <h4 class="card-title text-danger text-center">@item.Name</h4>
                    <p class="card-text ">Số lượng người: @guestInRoom/@maxGuest</p>
                    @Html.ActionLink("Thêm người", "Create", "Guest", new { area = "" }, new { @class = "card-link disabled-link" })
                    @Html.ActionLink("Detail", "Detail", "Room", new { area = "" }, new { @class = "card-link" })
                </div>
            </div>
        }  
    }
</div>

@section Scripts {
    <script>
        $("document").ready(function () {
            $(".disabled-link").removeAttr("href")
                .addClass("text-secondary");
        });
    </script>
}

